/* ===========================================================================
  I'm looking at using this file to override the selected template in quarto.

  See quarto docs for more info:
  https://quarto.org/docs/output-formats/html-themes.html
  https://quarto.org/docs/output-formats/html-themes-more.html

  See all variables here:
  https://quarto.org/docs/output-formats/html-themes.html

  The https://www.ereefs.org.au/platform/ site uses the Minimal Mistakes theme, 
  which is imported as a partial below.
  https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss
  ========================================================================== */

/*-- scss:uses --*/
@use 'minimal_mistakes';

// The flatly theme has been set up in a weird way. Instead of redefining the 
// primary color, they have left is as $blue and redefined $blue to be something 
// else. 
// See: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/flatly.scss
// Instead I will define the primary, secondary, etc variables to the values that I want.

/*-- scss:defaults --*/
minimal_mistakes.$primary-color: #0F528C;
  
// overriding flatly variables:
$primary:       minimal_mistakes.$primary-color !default;
$secondary:     $gray-600 !default;
$success:       minimal_mistakes.$success-color !default;
$info:          minimal_mistakes.$info-color !default;
$warning:       minimal_mistakes.$warning-color !default;
$danger:        minimal_mistakes.$danger-color !default;
$light:         minimal_mistakes.$lighter-gray !default;
$dark:          minimal_mistakes.$darker-gray !default;

$link-color:    $primary !default;


/*-- scss:rules --*/

// These rules come from the minimal mistakes air skin:
.page__footer {
  color: #fff !important; // override
}
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}$active-color: mix(#fff, minimal_mistakes.$primary-color, 80%) !default;
