/* ===========================================================================
  This file overrides the variables used by bootstrap.

  See quarto docs for more info:
  https://quarto.org/docs/output-formats/html-themes.html
  https://quarto.org/docs/output-formats/html-themes-more.html

  See all variables here:
  https://quarto.org/docs/output-formats/html-themes.html

  The https://www.ereefs.org.au/platform/ site uses the Minimal Mistakes theme, 
  and so the chosen colors were based mostly off that.
  https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss
  ========================================================================== */

/*-- scss:defaults --*/
$primary:       #0F528C !default;
$success:       #3fa63f !default;
$info:          #3b9cba !default;
$warning:       #d67f05 !default;
$danger:        #ee5f5b !default;
$light:         #ffffff !default;
$gray:          #7a8288 !default;
$dark:          #212529 !default;
  
$link-color:    $primary !default;
