.ncanimate2_block a:focus {
    /* TODO: Add a "focus" background colour to the "theme" for accessibility - choose a better colour */
    /*
    background: #CCCCFF;
    */

    /* Photoshop style highlight - for development purpose ONLY! */
    /*
    border: 2px solid transparent;
    border-image: url(data:image/gif;base64,R0lGODlhCAAIAJAAAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQECgD/ACwAAAAACAAIAAACD4SDYZB6udpiaMJYsXuoAAAh+QQECgD/ACwAAAAACAAIAAACDYQRGadrzVRMB9FZ5SwAIfkEBAoA/wAsAAAAAAgACAAAAg8MDqGYaudeW9ChyOyltQAAIfkEBAoA/wAsAAAAAAgACAAAAg9MgGCXm+rQYtC0WGl9oQAAIfkEBAoA/wAsAAAAAAgACAAAAg+MgWCRernaYmjCWLF7qAAAIfkEBAoA/wAsAAAAAAgACAAAAg2MAwmna81UTAfRWeUsACH5BAQKAP8ALAAAAAAIAAgAAAIPRB6gmGrnXlvQocjspbUAACH5BAQKAP8ALAAAAAAIAAgAAAIPBIJhl5vq0GLQtFhpfaAAADs=) 1 round;
    */

    text-decoration: underline !important;
}


.ncanimate2_block {
    overflow: auto;
}

.ncanimate2_block .text-selection-disabled {
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ncanimate2_block table.date-selector {
    margin-left: auto;
    border-collapse: collapse;
}

.ncanimate2_block table.date-selector th,
.ncanimate2_block table.date-selector td {
    border: solid 1px #000000;
    text-align: center;
    padding: 5px 10px;
    width: 3em;
}
.ncanimate2_block table.date-selector td,
.ncanimate2_block table.date-selector th {
    color: #999999;
}
.ncanimate2_block table.date-selector .selectable {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}
.ncanimate2_block table.date-selector .year {
    color: #113a5f;
}

.ncanimate2_block .regionList .selected,
.ncanimate2_block table.date-selector .selected {
    font-weight: bold;
    background-color: #CCCCFF;
}

.ncanimate2_block .message-container,
.ncanimate2_block .no-video-support-message {
    width: 1300px;
    height: 600px;
    line-height: 600px;

    background-color: #F8F8F8;
    color: #CCCCCC;

    text-align: center;
    margin: auto;
}

.ncanimate2_block .message-container .text,
.ncanimate2_block .no-video-support-message .text {
    font-size: 2em;
    font-weight: bold;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.ncanimate2_block .message-container .text .details {
    font-size: 0.5em;
}

.ncanimate2_block .video-container,
.ncanimate2_block .image-container {
    /* Fix issue with container larger then expected */
    line-height: 0;
}

.ncanimate2_block .video-container .video-warning {
    line-height: normal;
}
.ncanimate2_block .video-container .video-warning .warning-label {
    color: #990000;
    font-weight: bold;
}

.ncanimate2_block .playerTools {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.ncanimate2_block .playerTools span.label::after {
    content: ":";
}

.ncanimate2_block .navigation button {
    margin: 0 0.5em;
}

.ncanimate2_block .downloads {
    text-align: right;
}
.ncanimate2_block .downloads ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
.ncanimate2_block .downloads ul li {
    display: inline-block;
    margin-left: 0.5em;
    padding: 0 5px 1px 5px;

    background-color: #777777;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ncanimate2_block .downloads ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: #FFFFFF;
    cursor: pointer;
}
.ncanimate2_block .downloads ul li.mp4 {
    background-color: #0000FF;
}
.ncanimate2_block .downloads ul li.wmv {
    background-color: #006666;
}
.ncanimate2_block .downloads ul li.zip {
    background-color: #CC0000;
}
.ncanimate2_block .downloads ul li.svg {
    background-color: #666600;
}
.ncanimate2_block .downloads ul li.png {
    background-color: #006600;
}
.ncanimate2_block .downloads ul li.pdf {
    background-color: #CC0000;
}
.ncanimate2_block .downloads ul li.frame {
    background-color: #006600; /* Same colour as PNG, since it's a PNG file */
}

/* NOTE: "display:flex" would be more appropriate, but IE don't support it. */
.ncanimate2_block .controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1em;
}

.ncanimate2_block .controls .regionList {
    flex-grow: 1;
}
.ncanimate2_block .controls .regionList .regionScaleGroup {
    float: left;
    min-width: 120px;
}

.ncanimate2_block .controls .regionList .region-scale-label {
    margin-top: 0.5em;
    font-weight: bold;
}

.ncanimate2_block .controls .regionList ul {
    padding: 0 0 0 1em;
    margin: 0.5em 1em 0.5em 0;
}

.ncanimate2_block .controls .calendar {
    clear: left;
}

.ncanimate2_block .playerTools .elevation {
    text-align: center;
}

.ncanimate2_block .playerTools .elevation label {
    display: inline;
}


/* Tabs */

.ncanimate2_block .tabs {
    text-align: left;
    background-color: #EEEEEE;
}

.ncanimate2_block .tabs .label {
    padding: 0 0.5em;
    vertical-align: middle;
}
.ncanimate2_block .tabs ul li .tabLabel {
    /* vertical-align: middle; */
}

.ncanimate2_block .tabs ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 3px 3px 0 3px;
}

.ncanimate2_block .tabs ul li {
    display: inline-block;
}
.ncanimate2_block .tabs ul li:hover {
    background-color: #DDDDDD;
}

.ncanimate2_block .tabs ul li a span {
  margin-right: 0.5em;
}
  
.ncanimate2_block .tabs ul li a {
    /* display: inline-block; */ /* for some reason text-align: left doesn't work with this disabled*/
    text-align: left;
    width: 120px;
    padding: 0.5em;
    text-decoration: none;
}

.ncanimate2_block .tabs ul li .icon {
    float: left;
    display: block;
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px 20px;
    opacity: 0.2;
}

.ncanimate2_block .tabs ul li.images .icon {
    background-image: url('../images/icon-image.svg');
}

.ncanimate2_block .tabs ul li.videos .icon {
    background-image: url('../images/icon-video.svg');
}

.ncanimate2_block .tabs ul li.active {
    background-color: #FFFFFF;
}
