/* css styles */

.navbar {
  height: auto; /* Makes the navbar adjust to its content size */
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #0F528C;
}

.navbar > .container-fluid {
  margin: 0 auto;
  display: -webkit-flex;
  -webkit-flex-wrap: inherit;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

/* Adjust logo size */
.navbar-brand img {
  height: 100%; /* Makes the logo take the full height of the navbar */
  max-height: 60px;
  width: 60px;
}

/* .navbar-brand-container {
  font-weight: 500;
} */

.navbar-brand {
  /* font-weight: 500; */
  font-size: 1.5em;
}

.navbar-container {
  max-width: 1220px;
}

.navbar-dark .navbar-brand {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark:hover .navbar-brand:hover {
  color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: white;
}

.navbar-dark:focus .navbar-brand:focus {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: white;
}

.navbar .dropdown-item { 
  color: white;
}

.navbar .dropdown-item:hover { 
  background-color: #0F528C;
}

/* external link icons */
.external-link {
  height: 1em;
}

/* search icon */
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: white;
};

.me-auto {
  margin-left: auto !important; /* align menu items to the right */
  margin-right: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  color: #212529
}

select, option {
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-nav .nav-link.active {
    color: white;
}

.dropdown-menu {
  background-color: #0F528C;
}

/* ----- footer ----- */
.nav-footer {
  color: white;
}

.nav-footer a {
  color: white;
}

.nav-footer a:hover {
  color: white;
}

/*
.nav-footer .nav-footer-center {
  display: none;
}
*/

.nav-footer img {
  padding-left: 0.5em
}

.nav-footer-center .footer-items .nav-link {
  padding-left: 1em;
  padding-right: 1em
}

.nav-footer-left, .nav-footer-right {
  display: none
}

/* Stack items vertically on small screens */
@media screen and (max-width: 530px) {
    .nav-footer .nav-footer-center .footer-items {
        flex-direction: column;
        align-items: center;
    }
}

/* make the video 100% width */
.video-container {
    width: 100%;
    text-align: center;
    display: block;
}
.video-container video {
    width: 100%;
}

/* so that the product tile lists don't look so cramped */
.ncanimate-product-tile li {
  margin-bottom: 0.2em;
}

body {
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
