/* css styles */

/* making the navbar static so that class changes done by quarto-nav.js will no longer affect the navbar */
header.headroom--pinned {
  transform: translateY(-100%);
}
header.headroom--top {
  transform: translateY(0%);
}

.navbar {
  height: auto; /* Makes the navbar adjust to its content size */
}

/* Adjust logo size */
.navbar-brand img {
  height: 100%; /* Makes the logo take the full height of the navbar */
  max-height: 100px; /* Removes any height limitation on the logo */
}

/* making a gap between the logo and the title in the header */
.navbar .navbar-brand-logo {
  margin-right: 1em;
}
.ncanimate-products {
  justify-content: center
}

/* making the footer logos separated */
.nav-footer img {
  margin: 1em;
  /*
  margin-right: 1em;
  margin-left: 1em;
  /*
}

/* shrinking the unused right nav-footer */
.nav-footer-center {
  flex: 1 1 0px;
  width: 0px;
}
  

.nav-footer-right {
  flex: 1 1 40%;
  text-align: right;
}

.nav-footer-left {
  flex: 1 1 40%;
}
  
/* trying to make the navbar static
.headroom--pinned,
.headroom--unpinned,
.headroom--top,
.headroom--not-top {
  position: block !important;
} 
*/
